* {
  font-family: Tahoma, sans-serif;
}

#header-img {
  width: 5rem;
  height: 5rem;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  justify-content: space-around;
}