body {
  background-color: #eee;
  font-family: "Tahoma", sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page-wrapper {
  position: relative;
}

div {
  display: block;
  unicode-bidi: isolate;
}

header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
<<<<<<< HEAD
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
}

.logo > img {
  width: 100%;
  height:100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

.logo {
  width: 60vw;
}

nav {
  font-weight: 400;
  display: block;
  unicode-bidi: isolate;
}

a{
  color: #000;;
  text-decoration: none;
}

li {
  list-style: none;
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height:200px;
  margin-top: 50px;
}

#hero > h2 {
  margin-bottom: 20px;
  word-wrap: break-word;
}

form {
  display: block;
}

#hero input[type='email']{
  max-width: 275px;;
  width: 100%;
  padding: 5px;
}

#hero input[type='submit']{
  max-width: 150px;
  width: 100px;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
}

#features {
  margin-top: 30px;
}

.grid {
  display: flex;
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: darkorange
}

#how-it-works {
  margin-top: 50px;
  display: flex;
  justify-content: center;;
}

#how-it-works > iframe{
  max-width: 560px;
  width: 100%;
}

#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width:calc(100% /3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

.product > .level {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.product > h2 {
  margin-top: 15px;
}

.product > ol {
  margin: 15px 0;
}

.product > ol > li {
  padding: 5px 0;
}

.product > button {
  border: 0;
  margin: 15px 0;
  background-color: #f1c40f;
  font-weight: 400;
  padding: 0 20px;
  height: 40px;;
  font-size: 1em;
  border-radius: 2px;
  cursor: pointer;
}

footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}

footer > ul{
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;;
  font-size: 0.9em;
  color: #444;
}

@media (max-width: 700px) {
  header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
  }

  nav {
    font-weight: 400;
    display: block;
    unicode-bidi: isolate;
  }
=======
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
}

.logo > img {
  width: 100%;
  height:100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

.logo {
  width: 60vw;
}

nav {
  font-weight: 400;
  display: block;
  unicode-bidi: isolate;
>>>>>>> 3a290e3c070275b16edd0bbf6ea49c44fbfdc53e
}